<!-- Extended page -->
{% extends 'base.html' %}

<!-- Whenever you use static files, you have to load them first like this -->
{% load static %}

<!-- Block content initial indicator-->
{% block content %}

  <!-- Projects section -->
  <section id="about" class="about section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Current Blogs</h2>
            <p>Currently there are {{blogs.count}} blog{{blogs.count|pluralize}}</p>
            <br>
            <p>Let the river flow, like this one.</p>
            <!-- The reference to static files is relative to the folder current_app/static -->
            <img src="{% static 'RiuOneta.jpg' %}" width=400>
          </div>
        </div>
      </div>

      <!-- Loop through the blogs -->
      {% for blog in blogs %}
      <div class="blog-container">
        <div class="row align-vertical-center">
          <div class="col-md-4">
            <a href="{% url 'blog:oneblog' blog.id %}">
              <h5 class="text-start">{{ blog.title|truncatechars:38 }}</h5>
            </a>
          </div>
          <div class="col-md-2 text-center">
            <h6 class="mb-0">{{ blog.date|date:'d M Y'|upper }}</h6>
          </div>
          <div class="col-md-6 text-end">
            <p class="mb-0">{{ blog.description|truncatechars:73}}</p>
          </div>
        </div>
      </div>
      <br>
      {% endfor %}

    </div>
  </section>

<!-- Block content end indicator -->
{% endblock %}
