# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Compiled Java classes
*.class

# Log files
*.log

# Python cache
__pycache__/

# Virtual environment
venv/
env/

# Compiled files
*.pyc
*.pot
*.pyo

# macOS-specific files
.DS_Store

# Editor-specific files
.vscode/
.idea/

# Environment variables
.env

# Compiled Node.js modules
node_modules/

# The database
db*

# The loaded media
media/
/static/

# Local settings django
local_settings.py