alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1684377053240/work
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1685243452975/work
astroid @ file:///home/conda/feedstock_root/build_artifacts/astroid_1688921182135/work
bcrypt @ file:///home/conda/feedstock_root/build_artifacts/bcrypt_1666831323018/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1681349778161/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1687884021435/work
certifi==2023.7.22
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1671179355965/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1689751945043/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
configparser @ file:///home/conda/feedstock_root/build_artifacts/configparser_1660952164778/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1686733806710/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1689055976305/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
databricks-cli @ file:///home/conda/feedstock_root/build_artifacts/databricks-cli_1683553852013/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1666603105584/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1688392128856/work
django-ninja @ file:///home/conda/feedstock_root/build_artifacts/django-ninja_1671316911552/work
docker @ file:///home/conda/feedstock_root/build_artifacts/docker-py_1688805481281/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1688381075899/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1682966527207/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1689965455159/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1669279893622/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1689017552161/work
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1684082930824/work
gunicorn @ file:///home/conda/feedstock_root/build_artifacts/gunicorn_1666818756491/work
hydra-core @ file:///home/conda/feedstock_root/build_artifacts/hydra-core_1677543700389/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1689017639396/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1675033873689/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1688155275339/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1666805746048/work
lazy-object-proxy @ file:///home/conda/feedstock_root/build_artifacts/lazy-object-proxy_1672877780456/work
loguru @ file:///home/conda/feedstock_root/build_artifacts/loguru_1681126175544/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1668568582731/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1690307387991/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1685769042879/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1688684873414/work
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1643049622439/work
mlflow @ file:///home/conda/feedstock_root/build_artifacts/mlflow-split_1689637339397/work
munkres==1.1.4
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1688887041365/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1688740512823/work
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1685074311662/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1688255851102/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1689538620473/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1687776318736/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1689032443210/work
prometheus-flask-exporter @ file:///home/conda/feedstock_root/build_artifacts/prometheus_flask_exporter_1682654039948/work
protobuf==4.23.3
psycopg2 @ file:///home/conda/feedstock_root/build_artifacts/psycopg2-split_1688999074484/work
pyarrow==12.0.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1690476222394/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1689721553971/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1683397482155/work
PyNaCl @ file:///home/conda/feedstock_root/build_artifacts/pynacl_1666862648722/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1687692146518/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1666772382226/work
querystring-parser==1.2.4
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1688116542774/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1687995550978/work/base/dist/scipy-1.11.1-cp311-cp311-linux_x86_64.whl#sha256=c0479f8a06a309e2c519a2da071412cb0e8b44464ffedffd29c463a7fcdabfa4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1689437294783/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1681817562700/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1683028165096/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1688005749963/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1687789148259/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1686273693854/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1677485524200/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1689374466814/work
