<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mikweeh site</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Whenever you use static files, you have to load them first like this -->
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'Logo.png' %}">
  </head>


  <body>

    <!-- Navigation bar -->
    <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top"> -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{% static 'Logo.jpg' %}" alt="Logo" class="logo-image" style="width: 20px;">
          <span class="text-warning">mik</span>weeh
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Carousel -->
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'FuenteDe.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h5>Beautifull snowed mountains</h5>
            <p>Temporibus omnis fugiat totam possimus quod, atque iusto odio et vero consectetur nulla impedit?</p>
            <p><a href="#" class="btn btn-warning mt-3">Learn More</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'PortValldem.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h5>Amazing coloured sunsets</h5>
            <p>Repellat quae magni expedita asperiores, blanditiis placeat deleniti debitis perferendis, voluptatem quaerat numquam ducimus molestiae nostrum excepturi saepe nam, rerum dicta assumenda fugit non adipisci magni, libero nesciunt odit placeat voluptate.</p>
            <p><a href="#" class="btn btn-warning mt-3">Learn More</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'M_Animes.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h5>And the most inspiring coast</h5>
            <p>Accusamus nesciunt in laborum repudiandae optio, reiciendis labore at distinctio ex nihil quam, consectetur quod tempora, nemo quasi sed culpa deserunt dolorem necessitatibus corrupti aliquam quod voluptates illum?</p>
            <p><a href="#" class="btn btn-warning mt-3">Learn More</a></p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- About section -->
    <section id="about" class="about section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-header text-center pb-5">
              <h2>About</h2>
              <p>About a boat, different things.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-12 col-12">
            <div class="about-img">
              <img src="{% static 'Tech01.jpg' %}" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
            <div class="about-text">
              <h2>Who knows what it is all about?</h2>
              <p>¿Qué te puedo decir que no sepas ya? Pues para eso me callo y ganamos todos.</p>
              <a href="#" class="btn btn-warning">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Services section -->
    <section id="services" class="services section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-header text-center pb-5">
              <h2>Our Services</h2>
              <p>El baño está al fondo a la derecha, como en todas partes.<br>
                 ¿Qué esperabas si no? Las pruebas en casa y con gaseosa.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-white text-center bg-dark pb-2">
              <div class="card-body">
                <!-- Esto es el icono -->
                <i class="bi bi-subtract"></i>
                <h3 class="card-title">Consistency</h3>
                <p class="lead">Igual que te digo una cosa, te digo la otra. O ninguna de las dos, o las dos si me apuras.</p>
                <button class="btn btn-warning text-dark">Read More</button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-white text-center bg-dark pb-2">
              <div class="card-body">
                <!-- Esto es el icono -->
                <i class="bi bi-slack"></i>
                <h3 class="card-title">Integrity</h3>
                <p class="lead">Aquí trabaja mi primo porque es mi primo. No sabe; pero es mi primo. ¿Qué pasa?</p>
                <button class="btn btn-warning text-dark">Read More</button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-white text-center bg-dark pb-2">
              <div class="card-body">
                <!-- Esto es el icono -->
                <i class="bi bi-playstation"></i>
                <h3 class="card-title">Professionality</h3>
                <p class="lead">Hoy no puedo que me ha salido un tema que tal. Ya si eso mañana te digo cosas.</p>
                <button class="btn btn-warning text-dark">Read More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!-- Portfolio section -->
<section id="portfolio" class="portfolio section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>Our projects</h2>
          <p>Hace tiempo tuve un proyector. ¿Computa eso como projects?<br>Yo supongo que sí; pero si no, pues no.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-center bg-white pb-2">
          <div class="card-body text-dark">
            <div class="img-area mb-4">
              <img src="{% static 'ML01.jpg' %}" alt="" class="img-fluid">
            </div>
            <h3 class="card-title">Machine Learning</h3>
            <p class="lead">Mira cómo piensa el calamar este.</p>
            <button class="btn bg-warning text-dark">Learn More</button>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-center bg-white pb-2">
          <div class="card-body text-dark">
            <div class="img-area mb-4">
              <img src="{% static 'ML02.jpg' %}" alt="" class="img-fluid">
            </div>
            <h3 class="card-title">Deep Learning</h3>
            <p class="lead">Profundo como el océano profundo</p>
            <button class="btn bg-warning text-dark">Learn More</button>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-center bg-white pb-2">
          <div class="card-body text-dark">
            <div class="img-area mb-4">
              <img src="{% static 'ML03.jpg' %}" alt="" class="img-fluid">
            </div>
            <h3 class="card-title">Computer Vision</h3>
            <p class="lead">No te escondas, calamar, que te veo.</p>
            <button class="btn bg-warning text-dark">Learn More</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Team section -->
<section id="team" class="team">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>The Team</h2>
          <p>El equipo está equipado con un equipaje<br>que es ligero para tan largo viaje.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-center">
          <div class="card-body">
            <img src="{% static 'Person01.jpg' %}" alt="" class="img-fluid rounded-circle">
            <h3 class="card-title py-2">Zrusk Phunyolabna</h3>
            <p class="card-text">Experto en el tema y en otros temas diferentes del tema.</p>
            <p class="socials">
              <i class="bi bi-twitter text-dark mx-1"></i>
              <i class="bi bi-facebook text-dark mx-1"></i>
              <i class="bi bi-linkedin text-dark mx-1"></i>
              <i class="bi bi-instagram text-dark mx-1"></i>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-center">
          <div class="card-body">
            <img src="{% static 'Person02.jpg' %}" alt="" class="img-fluid rounded-circle">
            <h3 class="card-title py-2">Snova Martorelli</h3>
            <p class="card-text">La que más sabe de lo suyo e incluso de otras cosas.</p>
            <p class="socials">
              <i class="bi bi-twitter text-dark mx-1"></i>
              <i class="bi bi-facebook text-dark mx-1"></i>
              <i class="bi bi-linkedin text-dark mx-1"></i>
              <i class="bi bi-instagram text-dark mx-1"></i>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-center">
          <div class="card-body">
            <img src="{% static 'Person03.jpg' %}" alt="" class="img-fluid rounded-circle">
            <h3 class="card-title py-2">Phroebbë Nikkhani</h3>
            <p class="card-text">Una que pasaba por aquí el día que hacíamos las fotos.</p>
            <p class="socials">
              <i class="bi bi-twitter text-dark mx-1"></i>
              <i class="bi bi-facebook text-dark mx-1"></i>
              <i class="bi bi-linkedin text-dark mx-1"></i>
              <i class="bi bi-instagram text-dark mx-1"></i>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-center">
          <div class="card-body">
            <img src="{% static 'Person04.jpg' %}" alt="" class="img-fluid rounded-circle">
            <h3 class="card-title py-2">Dird Zscküfrëtbbs</h3>
            <p class="card-text">Un día trajo donuts y se quedó a vivir con nosotros.</p>
            <p class="socials">
              <i class="bi bi-twitter text-dark mx-1"></i>
              <i class="bi bi-facebook text-dark mx-1"></i>
              <i class="bi bi-linkedin text-dark mx-1"></i>
              <i class="bi bi-instagram text-dark mx-1"></i>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>Contact Us</h2>
          <p>Si estableces algún contacto con nosotros<br>que sea un contacto con tacto.</p>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-md p-0 pt-4 p-4 pb-4">
        <form action="#" class="bg-light p-4.m-auto">

          <div class="row">
          
            <div class="col-md-12">
              <div class="mb-3">
                <input type="text" class="form-control" required placeholder="Your full name">
              </div>
            </div>
  
            <div class="col-md-12">
              <div class="mb-3">
                <input type="email" class="form-control" required placeholder="Your e-mail">
              </div>
            </div>
  
            <div class="col-md-12">
              <div class="mb-3">
                <textarea rows="3" required class="form-control" placeholder="Your query"></textarea>
              </div>
            </div>
  
            <button class="btn btn-warning btn-lg btn-block mt-3">Send Now</button>
  
          </div>

        </form>
      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<footer class="bg-dark p-2 text-center">
  <div class="container">
    <p class="text-white">All Rights Reserved @mikweeh</p>
  </div>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>

    {% block content %}{% endblock %}

  </body>
</html>