
<!-- Extended page -->
{% extends 'base.html' %}

<!-- Whenever you use static files, you have to load them first like this -->
{% load static %}

<!-- Block content initial indicator-->
{% block content %}

  <!-- Carousel -->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="6000">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'FuenteDe.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>Beautifull snowed mountains</h5>
          <p>Temporibus omnis fugiat totam possimus quod, atque iusto odio et vero consectetur nulla impedit?</p>
          <p><a href="#" class="btn btn-warning mt-3">Learn More</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'PortValldem.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>Amazing coloured sunsets</h5>
          <p>Repellat quae magni expedita asperiores, blanditiis placeat deleniti debitis perferendis, voluptatem quaerat numquam ducimus molestiae nostrum excepturi saepe nam, rerum dicta assumenda fugit non adipisci magni, libero nesciunt odit placeat voluptate.</p>
          <p><a href="#" class="btn btn-warning mt-3">Learn More</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'M_Animes.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>And the most inspiring coast</h5>
          <p>Accusamus nesciunt in laborum repudiandae optio, reiciendis labore at distinctio ex nihil quam, consectetur quod tempora, nemo quasi sed culpa deserunt dolorem necessitatibus corrupti aliquam quod voluptates illum?</p>
          <p><a href="#" class="btn btn-warning mt-3">Learn More</a></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- About section -->
  <section id="about" class="about section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>About</h2>
            <p>This is a demo website. I use it for testing. You can't contact me through it.<br>
               If you have arrived here, I guess you are one of my contacts.<br>
               So send me an email or contact via LinkedIn.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-12 col-12">
          <div class="about-img">
            <img src="{% static 'Tech01.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
          <div class="about-text">
            <h2>Who knows what it is all about?</h2>
            <p>You'll find here an access to a fake blog with several entries.</p>
            <a href="{% url 'blog:all_blogs' %}" class="btn btn-warning">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <hr class="section-divider">
  </section>
  

  <!-- Services section -->
  <section id="services" class="services section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Our Services</h2>
            <p>Just enjoying doing what I do.<br>
              The rest comes on its own, by default.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body">
              <!-- Esto es el icono -->
              <i class="bi bi-subtract"></i>
              <h3 class="card-title">Consistency</h3>
              <p class="lead">Consistency in every step: creating harmony between vision and action for a brighter future.</p>
              <a class="btn btn-warning text-dark" href="#services">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body">
              <!-- Esto es el icono -->
              <i class="bi bi-slack"></i>
              <h3 class="card-title">Integrity</h3>
              <p class="lead">Building trust with transparency and commitment, forging a legacy of excellence and responsibility.</p>
              <a class="btn btn-warning text-dark" href="#services">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body">
              <!-- Esto es el icono -->
              <i class="bi bi-playstation"></i>
              <h3 class="card-title">Professionality</h3>
              <p class="lead">Combining expertise, dedication and ethics to exceed expectations and achieve excellence in each project.</p>
              <a class="btn btn-warning text-dark" href="#services">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <hr class="section-divider">
  </section>

  <!-- Portfolio section -->
  <section id="portfolio" class="portfolio section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Our projects</h2>
            <p>A lot of projects there, but I don't have them here.<br>Some of them can be found on my GitHub.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pb-2">
            <div class="card-body text-dark">
              <div class="img-area mb-4">
                <img src="{% static 'Thinking android 2 (DALLE).jpg' %}" alt="" class="img-fluid">
              </div>
              <h3 class="card-title">Machine Learning</h3>
              <p class="lead">The basics (EDA, splitting dataset, etc). k-nn, Naive Bayes, Random Forest, SVM.</p>
              <a href="{% url 'all_projects' %}" class="btn btn-warning">Learn More</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pb-2">
            <div class="card-body text-dark">
              <div class="img-area mb-4">
                <img src="{% static 'AI in deep space (DALLE).jpg' %}" alt="" class="img-fluid">
              </div>
              <h3 class="card-title">Deep Learning</h3>
              <p class="lead">Deep neural networks with pytorch. Computer Vision and Natural Language Processing.</p>
              <a href="{% url 'all_projects' %}" class="btn btn-warning">Learn More</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pb-2">
            <div class="card-body text-dark">
              <div class="img-area mb-4">
                <img src="{% static 'Bionic eye (DALLE).jpg' %}" alt="" class="img-fluid">
              </div>
              <h3 class="card-title">Computer Vision</h3>
              <p class="lead">Classification, object detection, segmentation, pose estimation, object tracking.</p>
              <a href="{% url 'all_projects' %}" class="btn btn-warning">Learn More</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section>
    <hr class="section-divider">
  </section>

  <!-- Team section -->
  <section id="team" class="team section-padding">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>The Team</h2>
            <p>None of them really exist. The names are made up and<br>these faces are generated with a GAN.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <img src="{% static 'Person01.jpg' %}" alt="" class="img-fluid rounded-circle">
              <h3 class="card-title py-2">Zrusk Phunyolabna</h3>
              <p class="card-text">Expert on the topic and on other topics different from the topic.</p>
              <p class="socials">
                <i class="bi bi-twitter text-dark mx-1"></i>
                <i class="bi bi-facebook text-dark mx-1"></i>
                <i class="bi bi-linkedin text-dark mx-1"></i>
                <i class="bi bi-instagram text-dark mx-1"></i>
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <img src="{% static 'Person02.jpg' %}" alt="" class="img-fluid rounded-circle">
              <h3 class="card-title py-2">Snova Martorelli</h3>
              <p class="card-text">She is the best about her stuff and even about other things.</p>
              <p class="socials">
                <i class="bi bi-twitter text-dark mx-1"></i>
                <i class="bi bi-facebook text-dark mx-1"></i>
                <i class="bi bi-linkedin text-dark mx-1"></i>
                <i class="bi bi-instagram text-dark mx-1"></i>
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <img src="{% static 'Person03.jpg' %}" alt="" class="img-fluid rounded-circle">
              <h3 class="card-title py-2">Phroebbë Nikkhani</h3>
              <p class="card-text">One that passed by here the day we were taking the photos.</p>
              <p class="socials">
                <i class="bi bi-twitter text-dark mx-1"></i>
                <i class="bi bi-facebook text-dark mx-1"></i>
                <i class="bi bi-linkedin text-dark mx-1"></i>
                <i class="bi bi-instagram text-dark mx-1"></i>
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <img src="{% static 'Person04.jpg' %}" alt="" class="img-fluid rounded-circle">
              <h3 class="card-title py-2">Dird Zscküfrëtbbs</h3>
              <p class="card-text">Oh wow, this one I really don't know who it is, but there it is.</p>
              <p class="socials">
                <i class="bi bi-twitter text-dark mx-1"></i>
                <i class="bi bi-facebook text-dark mx-1"></i>
                <i class="bi bi-linkedin text-dark mx-1"></i>
                <i class="bi bi-instagram text-dark mx-1"></i>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section>
    <hr class="section-divider">
  </section>

  <!-- Contact Section -->
  <section id="contact" class="contact section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Contact Us</h2>
            <p>Please, don't waste your time using this form.<br>It isn't enabled so you won't send anything to anyone.</p>
          </div>
        </div>
      </div>

      <div class="row m-0">
        <div class="col-md p-0 pt-4 p-4 pb-4">
          <form action="#" class="bg-light p-4.m-auto">

            <div class="row">
            
              <div class="col-md-12">
                <div class="mb-3">
                  <input type="text" class="form-control" required placeholder="Your full name">
                </div>
              </div>
    
              <div class="col-md-12">
                <div class="mb-3">
                  <input type="email" class="form-control" required placeholder="Your e-mail">
                </div>
              </div>
    
              <div class="col-md-12">
                <div class="mb-3">
                  <textarea rows="3" required class="form-control" placeholder="Your query"></textarea>
                </div>
              </div>
    
              <button class="btn btn-warning btn-lg btn-block mt-3">Send Now</button>
    
            </div>

          </form>
        </div>
      </div>

    </div>
  </section>

<!-- Block content end indicator -->
{% endblock %}
